* {
	margin: 0px;
	padding: 0px;
}

html {
	overflow-x: hidden;
	overflow-y: hidden;

}

body {
	width :100%;
	height: 100%;
}

/*.navbar {
    background-color: white;
}*/

.container-fluid {
	margin-left: -15px;
	margin-right: -15px;
}

.row {
	padding: 5px;

}

.footer {
	margin-top: -7px;
}




